debugger;

<!-- var item_count = "<span class='todo-count'><strong><%= @lists.count %></strong><%= pluralize_without_count(#' item', @lists.count) %></span>";

$("span.todo-count").replaceWith(item_count); -->