<li class="editing">
  <div class="view">
    <input class="toggle" type="checkbox" checked="">
    <label><%= item.content %></label>
    <button class="destroy"></button>
  </div>
  <%= form_for(item) do |f| %>
    <%= f.text_field :content, :class => "edit" %>
  <% end %>
</li>


