<section class="todoapp">
  <header class="header">
    <h1>todos</h1>
      <input class="new-todo" placeholder="Enter a name for a new list..." >
  </header>
  <section class="main">
    <input class="toggle-all" type="checkbox">
    <label for="toggle-all">Mark all as complete</label>
    <ul class="todo-list">
      <li>
        <div class="view">
          <label>List</label>
        </div>
      </li>
    </ul>
  </section>
</section>
